 .u-section-1 {
  min-height: 786px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 93px);
  height: 784px;
  margin: 1px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: -728px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 19px;
  height: 19px;
  margin: -19px auto 0 calc(((100% - 1140px) / 2) + -29px);
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 21px calc(((100% - 1140px) / 2) + 1057px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 19px;
  height: 19px;
  margin: -19px auto 0 calc(((100% - 1140px) / 2) + -29px);
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 19px;
  height: 19px;
  margin: 20px auto 0 calc(((100% - 1140px) / 2) + -29px);
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: -19px calc(((100% - 1140px) / 2) + 1037px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 19px;
  height: 19px;
  margin: 21px auto 0 calc(((100% - 1140px) / 2) + -29px);
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: -19px calc(((100% - 1140px) / 2) + 1069px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 19px;
  height: 19px;
  margin: 19px auto 0 calc(((100% - 1140px) / 2) + -29px);
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: -19px calc(((100% - 1140px) / 2) + 1069px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  margin: -194px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 396px;
  width: 706px;
  margin: 51px calc(((100% - 1140px) / 2) + 167px) 60px auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 93px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 857px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 837px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 940px) / 2) + 869px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2) + 869px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-gallery-1 {
    margin-right: calc(((100% - 940px) / 2) + 167px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 93px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 637px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 617px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 720px) / 2) + 649px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 649px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-gallery-1 {
    margin-right: calc(((100% - 720px) / 2) + 14px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 93px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 457px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 437px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2) + 469px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 469px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 93px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 340px) / 2) + 257px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 237px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-text-4 {
    margin-right: calc(((100% - 340px) / 2) + 269px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2) + 269px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }
}