 .u-section-1 {
  min-height: 555px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 93px);
  left: 0;
  right: auto;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 235px;
  margin: 43px 0 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 144px;
  height: 175px;
  margin: -156px calc(((100% - 1140px) / 2) + 123px) 0 auto;
}

.u-section-1 .u-shape-4 {
  width: 152px;
  height: 152px;
  margin: -257px calc(((100% - 1140px) / 2) + 123px) 0 auto;
}

.u-section-1 .u-image-1 {
  width: 264px;
  height: 265px;
  margin: -202px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-shape-5 {
  width: 127px;
  height: 51px;
  margin: -218px auto 0 calc(((100% - 1140px) / 2) + 126px);
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -47px auto 0 calc(((100% - 1140px) / 2) + 137px);
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 137px);
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: -107px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 19px;
  height: 19px;
  margin: -19px auto 0 calc(((100% - 1140px) / 2) + -29px);
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 21px calc(((100% - 1140px) / 2) + 1057px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 19px;
  height: 19px;
  margin: -19px auto 0 calc(((100% - 1140px) / 2) + -29px);
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 19px;
  height: 19px;
  margin: 18px auto 0 calc(((100% - 1140px) / 2) + -29px);
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: -17px calc(((100% - 1140px) / 2) + 1057px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 19px;
  height: 19px;
  margin: 23px auto 0 calc(((100% - 1140px) / 2) + -29px);
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: -19px calc(((100% - 1140px) / 2) + 1069px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 23px calc(((100% - 1140px) / 2) + 1047px) 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 19px;
  height: 19px;
  margin: -20px auto 0 calc(((100% - 1140px) / 2) + -29px);
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -18px auto 0 calc(((100% - 1140px) / 2) + 137px);
}

.u-section-1 .u-text-9 {
  background-image: none;
  margin: -3px calc(((100% - 1140px) / 2) + 372px) 0 calc(((100% - 1140px) / 2) + 137px);
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 37px auto 0 calc(((100% - 1140px) / 2) + 137px);
}

.u-section-1 .u-icon-6 {
  width: 48px;
  height: 48px;
  margin: 9px auto 0 calc(((100% - 1140px) / 2) + 137px);
  padding: 0;
}

.u-section-1 .u-icon-7 {
  width: 48px;
  height: 48px;
  margin: -48px auto 0 calc(((100% - 1140px) / 2) + 195px);
  padding: 0;
}

.u-section-1 .u-shape-6 {
  width: 127px;
  height: 51px;
  margin: -51px calc(((100% - 1140px) / 2) + 372px) 36px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 93px);
  }

  .u-section-1 .u-shape-2 {
    margin-top: 15px;
  }

  .u-section-1 .u-shape-3 {
    height: 152px;
    margin-right: calc(((100% - 940px) / 2) + 123px);
  }

  .u-section-1 .u-shape-4 {
    margin-top: -243px;
    margin-right: calc(((100% - 940px) / 2) + 123px);
  }

  .u-section-1 .u-image-1 {
    height: 264px;
    margin-top: -218px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-shape-5 {
    margin-top: -184px;
    margin-left: calc(((100% - 940px) / 2) + 126px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -35px;
    margin-left: calc(((100% - 940px) / 2) + 137px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 52px;
    margin-left: calc(((100% - 940px) / 2) + 137px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -134px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-text-4 {
    margin-top: 42px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -40px;
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-icon-3 {
    margin-top: 60px;
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-text-5 {
    margin-top: -16px;
    margin-right: calc(((100% - 940px) / 2) + 857px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-4 {
    margin-top: -45px;
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-text-6 {
    margin-top: -9px;
    margin-right: calc(((100% - 940px) / 2) + 869px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-top: -78px;
    margin-right: calc(((100% - 940px) / 2) + 847px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-icon-5 {
    margin-top: 25px;
    margin-left: calc(((100% - 940px) / 2) + -29px);
  }

  .u-section-1 .u-text-8 {
    margin-top: -135px;
    margin-left: calc(((100% - 940px) / 2) + 137px);
  }

  .u-section-1 .u-text-9 {
    margin-top: -107px;
    margin-right: calc(((100% - 940px) / 2) + 272px);
    margin-left: calc(((100% - 940px) / 2) + 137px);
  }

  .u-section-1 .u-text-10 {
    margin-left: calc(((100% - 940px) / 2) + 137px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 940px) / 2) + 137px);
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 940px) / 2) + 195px);
  }

  .u-section-1 .u-shape-6 {
    margin-top: -201px;
    margin-right: calc(((100% - 940px) / 2) + 372px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 93px);
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 720px) / 2) + 123px);
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 720px) / 2) + 123px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-shape-5 {
    margin-left: calc(((100% - 720px) / 2) + 126px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 137px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 137px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-icon-3 {
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 637px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 720px) / 2) + 649px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 720px) / 2) + 627px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 720px) / 2) + -29px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 720px) / 2) + 137px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 89px);
    margin-left: calc(((100% - 720px) / 2) + 137px);
  }

  .u-section-1 .u-text-10 {
    margin-left: calc(((100% - 720px) / 2) + 137px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 720px) / 2) + 137px);
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 720px) / 2) + 195px);
  }

  .u-section-1 .u-shape-6 {
    margin-top: -223px;
    margin-right: calc(((100% - 720px) / 2) + 372px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 93px);
  }

  .u-section-1 .u-shape-2 {
    margin-top: 43px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 540px) / 2) + 123px);
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 540px) / 2) + 123px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-shape-5 {
    margin-top: -248px;
    margin-left: calc(((100% - 540px) / 2) + 126px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 137px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 59px;
    margin-left: calc(((100% - 540px) / 2) + 137px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -198px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-icon-3 {
    margin-top: 124px;
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2) + 457px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 540px) / 2) + 469px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 540px) / 2) + 447px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 540px) / 2) + -29px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 540px) / 2) + 137px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 137px);
  }

  .u-section-1 .u-text-10 {
    margin-left: calc(((100% - 540px) / 2) + 137px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 540px) / 2) + 137px);
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 540px) / 2) + 146px);
  }

  .u-section-1 .u-shape-6 {
    margin-top: -252px;
    margin-right: calc(((100% - 540px) / 2) + 372px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 93px);
  }

  .u-section-1 .u-shape-2 {
    margin-top: 121px;
  }

  .u-section-1 .u-shape-3 {
    margin-right: calc(((100% - 340px) / 2) + 123px);
  }

  .u-section-1 .u-shape-4 {
    margin-right: calc(((100% - 340px) / 2) + 123px);
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-shape-5 {
    margin-top: -290px;
    margin-left: calc(((100% - 340px) / 2) + 126px);
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 86px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 66px;
    margin-left: calc(((100% - 340px) / 2) + 86px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -241px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-1 {
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-icon-2 {
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-icon-3 {
    margin-top: 167px;
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-text-5 {
    margin-right: calc(((100% - 340px) / 2) + 257px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-4 {
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-text-6 {
    margin-right: calc(((100% - 340px) / 2) + 269px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-7 {
    margin-right: calc(((100% - 340px) / 2) + 247px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-icon-5 {
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-text-8 {
    margin-left: calc(((100% - 340px) / 2) + 86px);
  }

  .u-section-1 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 86px);
  }

  .u-section-1 .u-text-10 {
    margin-left: calc(((100% - 340px) / 2) + 86px);
  }

  .u-section-1 .u-icon-6 {
    margin-left: calc(((100% - 340px) / 2) + 86px);
  }

  .u-section-1 .u-icon-7 {
    margin-left: calc(((100% - 340px) / 2) + 92px);
  }

  .u-section-1 .u-shape-6 {
    margin-top: -387px;
    margin-right: calc(((100% - 340px) / 2) + 213px);
  }
}